#content{
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-name-user{
    position: absolute;
    left: 310px;
    top: 57px;
    font-size: 28px;
}

.cards-header{
    display: flex;
}

.card-total__text{
    position: absolute;
    left: 29px;
    top: 8px;
    font-size: 20px;
}

.card-total__total-expenses{
    position:absolute;
    font-weight: bold;
    font-size: 50px;
    left: 166px;
    top: 48px;
    color:#ffff
}

.card-total__footer-text{
    position:absolute;
    font-size: 18px;
    left: 221px;
    top: 139px;
}

.list-expenses{
    list-style: none;
}

.card-total{
    position: absolute;
    display: flex;
    align-items: center;
    width: 580px;
    height: 174px;
    left: 416px;
    top: 152px;

    background: linear-gradient(180deg, #AAA3FF 26.04%, #B37BFF 70.31%);
    border-radius: 8px;
}

.card-user{
    position: absolute;
    display: flex;
    align-items: center;
    width: 406px;
    height: 172px;
    left: 1110px;
    top: 154px;
    border-radius: 10px;
    
    background: #FFFFFF; 
}

.img-user{
   width: 140px; 
}

.search-expense{
    position: absolute;
    left: 349px;
    top: 360px;
}

.input-expense{
    margin-top:15px;
    background: #F0EEEE;
    border: none;
    height: 60px;
    width: 242px;
    cursor: pointer;
    font-size: 22px;
    outline:none;
}

.text-instructions{
    font-size: 25px;
}

.search-expense__button{
    width: 75px;
    height: 40px;
    font-size: 19px;
    font-family: Sen;
}

.list-expenses{
    position: absolute;
    top: 510px;
    left: 345px;
}

.item{
    display: flex;
    background: #F0EEEE;
    padding: 14px;
    font-size: 22px;
    width: 100%;
}

.item p{
    margin-right: 80px;
}
