#content-dashboard{
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-name-user{
    position: absolute;
    left: 310px;
    top: 57px;
    font-size: 28px;
}

.cards-header{
    display: flex;
}

.card-total__text{
    position: absolute;
    left: 29px;
    top: 8px;
    font-size: 20px;
}

.card-total__total-expenses{
    position:absolute;
    font-weight: bold;
    font-size: 39px;
    left: 129px;
    top: 48px;
    color:#ffff
}

.card-total__footer-text{
    position: absolute;
    font-size: 16px;
    left: 118px;
    top: 110px;
}

.list-expenses{
    list-style: none;
}

.card-total{
    position: absolute;
    display: flex;
    align-items: center;
    width: 421px;
    height: 134px;
    left: 335px;
    top: 129px;

    background: linear-gradient(180deg, #AAA3FF 26.04%, #B37BFF 70.31%);
    border-radius: 8px;
}

.card-user{
    position: absolute;
    display: flex;
    align-items: center;
    width: 406px;
    height: 134px;
    left: 806px;
    top: 129px;
    border-radius: 10px;
    
    background: #FFFFFF; 
}

.img-user{
   width: 112px; 
}

.search-expense{
    position: absolute;
    left: 335px;
    top: 301px;
}

.input{
    margin-top:15px;
    background: #F0EEEE;
    border: none;
    height: 60px;
    width: 242px;
    cursor: pointer;
    font-size: 22px;
    outline:none;
    font-family: Sen;
    text-align: center;
}

.text-instructions{
    font-size: 22px;
}

.search-expense__button{
    width: 75px;
    height: 40px;
    font-size: 19px;
}

.list-expenses{
    position: absolute;
    top: 436px;
    left: 336px;
}

.item{
    display: flex;
    background: #F0EEEE;
    padding: 14px;
    font-size: 22px;
    width: 100%;
}

.item p{
    margin-right: 80px;
}
